pre {
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  max-width: 100%;
}

code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

code,
pre {
  background: $accent;
  overflow: auto;
  padding: 0.5rem 1rem;
}

code pre,
pre code {
  padding: 0;
}
