
.row {
  margin : $gutter-x $gutter-y;
  list-style  : none;
  align-content: space-between;

  &:not(.row-flex) {
    @include clearfix;
  }

  &.row--gutterless {
    margin-left : 0;
  }

  &.row-flex {
    flex-wrap: wrap;
    display: flex;
  }
  > * {
    box-sizing: border-box;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc($gutter-x * .5);
    padding-left: calc($gutter-x * .5);
    margin-top: $gutter-y;
  }
}
